#github-link {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: url("mjplogo.png");
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
    transition: all 0.25s;
}

#github-link:hover {
    opacity: 0.8;
    box-shadow: 0 0 6px #efefef;
}

* {
  margin: 0;
}

body {
  background: #000008;
  color: #a67c00;
  font-family: sans-serif;
}

.container {
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 610px;
}

.controls {
  padding-top: 20px;
}
.controls button {
  margin: 5px;
  width: 30%;
}
.controls button.active {
  background: #282e3c;
  border-color: #f63;
  color: whitesmoke;
}
